<h1>{{titulo}}</h1>
<p>Listado de películas: </p>

<button (click)="onShowHide(true)" [class.showingData]="mostrarDatos === true">Mostrar datos</button>
<button (click)="onShowHide(false)" [class.showingData]="mostrarDatos === false">Ocultar datos</button>

<ul *ngIf="mostrarDatos">
  <li>Titulo: <strong>{{pelicula.titulo}}</strong></li>
  <li>Director: <strong>{{pelicula.director}}</strong></li>
  <li>Año: <strong>{{pelicula.anio}}</strong></li>
</ul>

<p>
  Cambiar título:
  <input type="text" (keyup)="debug(true)" [(ngModel)]="pelicula.titulo" />
</p>
